{%extends 'customer_navbar_logged_in.html'%} {% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Vehicle Details {% endblock %}</title>
</head>

<body>
    {% block name %}{{customer.customer_fname}}{%endblock%} {% block pagecontent %}
    <div class="container my-5">
        <div class="row">
            <!-- carousel Image -->
            <div class="col-sm-7">
                <div class="card p-2" style="width: auto;">
                    <div id="Vehicle_{{car.car_id}}" class="carousel slide" data-interval="false">
                        <ol class="carousel-indicators">
                            <li data-target="#Car_{{car.car_id}}" data-slide-to="0" class="active"></li>
                            <li data-target="#Car_{{car.car_id}}" data-slide-to="1"></li>
                            <li data-target="#Car_{{car.car_id}}" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="{{car.car_image1.url}}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{car.car_image2.url}}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="{{car.car_image3.url}}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#Car_{{car.car_plate}}" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body">

                        {%if unsuccess_message%}
                        <div class="container">
                            <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                                <strong>{{unsuccess_message}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%} {%if Available%}
                        <div class="container">
                            <div class="alert alert-success alert-dismissible fade show my-2" role="alert">
                                <strong>Car is available, check information about this rent</strong> {%if Message%}
                                <p>
                                    {{Message}}. So there are some chances that you might not get it. As cars are rented on the first serve policy. 
                                </p>
                                {%endif%}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%} {%if NotAvailable%}
                        <div class="container">
                            <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                                <strong>Vehicle is not Available for this dates!!</strong>
                                <p>
                                    It is rented from {{rent_data.date_of_booking}} to {{rent_data.date_of_return}}
                                </p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        {%endif%}

                        <h5 class="card-title p-1" style="background-color: yellow; text-align: center;">Check Availability
                        </h5>
                        <form action="{% url 'CheckAvailability' car.pk %}" class="px-4 py-3" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-4">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date_of_booking" class="form-control" placeholder="Pickup date" required>
                                </div>
                                <div class="col-4">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="date_of_return" class="form-control" placeholder="Return date" required>
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-success" value="Check Availability" />
                                </div>
                            </div>
                        </form>

                        {%if Available%}
                        <h5 class="card-title p-1" style="background-color: yellow; text-align: center;">Send Request and Rend Car
                        </h5>
                        <form action="/home/" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="pickupdate"><b>Pickup Date</b></label>
                                    <input type="text" class="form-control" id="pickupdate" name="date_of_booking" value="{{rent_data.date_of_booking}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="returndate"><b>Return Date</b></label>
                                    <input type="text" class="form-control" id="returndate" name="date_of_return" value="{{rent_data.date_of_return}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="totaldays"><b>Total days</b></label>
                                    <input type="text" class="form-control" id="totaldays" name="total_days" value="{{rent_data.total_days}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="totalamount"><b>Total Price</b></label>
                                    <input type="text" class="form-control" id="totalamount" name="total_price" value="{{rent_data.total_price}}" readonly>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="car_plate" name="Vehicle_license_plate" value="{{car.car_plate}}" hidden>
                                </div>
                                {% comment %} <div class="form-group col-md-12">
                                    <input type="submit" class="btn btn-success btn-block" value="Accept Request" />
                                </div> {% endcomment %}
                            </div>
                        </form>{%endif%}

                    </div>
                </div>
            </div>

            <!-- Information -->
            <div class="col-sm-5">
                <div class="card p-2" style="width: auto;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Brand</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.car_brand}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Model</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.car_model}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Car Type</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.car_type}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Fuel Type</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.car_fuel_type}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Count Of Seats</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.count_of_seats}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Color</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.car_color}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Car Plates</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.car_plate}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">About Car</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.car_description}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Price</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{car.price_per_day}} byn (per day)
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    {% endblock pagecontent %}
</body>

</html>